/* direct access */
/* div {background-color:lightgreen ; color: black;} */
/* id concept */
/* #firstdiv{
    background-color:lightgreen ; color: black;
} */
/* class concept */
/* .div{
    background-color:lightgreen ; color: black;
} */
/* body {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;} */
/*  to imort font from outside search google font then copy its code of import and family*/
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Caprasimo&display=swap');
body {
    font-family: 'Agdasima', sans-serif;
    background: rgb(125,27,230);
    background: radial-gradient(circle, rgba(125,27,230,1) 37%, rgba(0,212,255,1) 64%, rgba(121,9,56,1) 100%);
}    
/*  for font increase */
header h1 {
    font-size: 60px;
    font-weight: bold;
    color: blueviolet;
    text-align: center;
}



.font {
    font-size: 30px;
    font-weight: 400;
    color: black;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border: 10px solid brown;
    padding:40px 40px 40px 40px ;
    margin: 20px 20px 20px 20px ;
    text-align: center;
}
.bttn {
    
    color: black;
    /* for removing underline of link */
    text-decoration: none;
    padding: 10px;
    /* for making button edge round */
    border-radius: 10px;
} 
.bttn:hover{
    color: none;
    background-color: white;
    opacity: 0.5;
}
.bttn_voilet {
    background-color: violet;
    

 }
 .bttn_other {
    background-color: rgb(249, 107, 4);
   
 }
 .bttn_other:hover{
    background-color: cornflowerblue;
 }

/* named color are predefined */
/* hexadeciaml #jasfa these are copied from net */
/* rgb red green blue also copied from net */
/* rgba red green blue alpha while alpha decides obesity value between 0 to 1 */
/* for hexa,rgb and rgba use color picker website */
/* gradient color */
/* space inside border is pading  trbl is sequence of writing space in padding*/
/* space outside the border is marging  trbl is same for it*/
/* for both pading and margin if you give 1 value it will set it for all four side
but if you give 2 value it will set first for y axis and second for x axis and for
all four values it will be according to trbl */
/* for button styling you can use button tag or link tag  */

.Paragraph {
    font-size: 25px;
    border: 1px dotted black;
    width: 500px;
    height: 40px;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(113,252,70,0.7063200280112045) 96%);
}
/* as span is inline so we use dispaly property of inline-block */
.s {
    border: 1px dotted black;
    font-size: 25px;
    display: inline-block;
    width: 640px;
    height: 60px;
    margin-bottom: 20px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(195,70,252,1) 100%);
}